# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


/build
.env
src/components/.DS_Store
src/components/labels/.DS_Store
.env
server/node_modules
